
/node_modules
/coverage
.venv/

/.next/
/out/
__pycache__/
/data/

# production
/build

.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

.env*

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts
